html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: -webkit-fill-available;
  background-color: white;
  z-index: 1;
}

.navbar-brand,
.navbar-toggler {
  margin: 0 3rem;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
}

.navbar > .container-fluid {
  margin: 2rem 0;
  padding: 0;
}

.navbar-collapse {
  background-color: white;
  margin: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  padding: 0 3rem;
}

.navbar-nav .nav-link.active {
  color: #4eabcc !important;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #4eabcc;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease-in-out;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.home > div {
  gap: 3rem;
}

.home-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-data > h1 {
  font-weight: 700;
}

.home-data > a:hover,
.send-btn:hover {
  background-color: #4eabcc;
  box-shadow: 0px 0px 106px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
}
.home-data > a,
.send-btn {
  width: 7rem;
  background-color: #4eabcc;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.home-social > a {
  font-size: 2rem;
  color: black;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.home-social > a > i:hover {
  color: #4eabcc;
  transition: all 0.5s ease-in-out;
}

.profile > .img-fluid {
  border-radius: 66% 34% 52% 48% / 41% 41% 59% 59%;
  max-width: 20rem;
}

.about-title,
.skills-title,
.contact-title,
.project-title {
  font-size: 48px;
  color: #4eabcc;
}

.about-data {
  gap: 1rem;
}

.about-data > div > img {
  width: 10rem;
}

/* projects-section.css */
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-card {
  height: 100%;
  width: 100%;
}

/* Image Styling */
.project-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Card body */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.tools {
  margin-top: 1rem;
}

.badge {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: #4eabcc;
}

/* Ensure the cards have equal height and width */
.col-12.col-md-6.col-lg-4 {
  display: flex;
  justify-content: center;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* For medium screens and above (md and lg), show images */
@media (min-width: 768px) {
  .project-img {
    display: block;
  }
}

/* For mobile devices, hide images */
@media (max-width: 767px) {
  .project-img {
    display: none;
  }
}

/* Center the row contents */
.row.justify-content-center {
  display: flex;
  justify-content: center;
}

.project-img {
  height: 20rem;
}

.footer {
  background-color: #4eabcc;
}

.responsive-text {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .responsive-text {
    font-size: 1.4rem;
  }
  .carousel-item .card {
    height: 500px; /* Adjust as needed */
  }
}

@media (min-width: 1024px) {
  .responsive-text {
    font-size: 1.875rem;
  }
}
